


<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label fixed>Email</ion-label>
    <ion-input type="text" value=""  [(ngModel)]="newuser.email" name="address" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input type="password"  [(ngModel)]="password" name="password" required></ion-input>
  </ion-item>

  <button ion-button block color="primary" (click)="login()">Login</button>

</ion-list>
</ion-content>
