page-list {
    ion-row {
          width: 100%;        
      }

      ion-header {
        background-color: #FFE6DC !important;
        width: 100%;
        vertical-align: middle;
      }

     ion-row {
      background-color: #ff8b81;
      display: flex;
justify-content: center;
     }

     ion-col {
      --background-color: #ff8b81;
      display: flex;
justify-content: center;
     }

     ion-avatar,
ion-avatar > img{
 // border-radius: 75% !important;
  height: 150px; 
     width: 150px; 
  overflow: hidden; 
  -webkit-border-radius: 65%;
  border-radius: 10%;
}

.forecast_container{
  // overflow-y: scroll!important;
  // overflow-x: hidden;
  word-wrap: break-word;
  height:85%;
  font-size:0.8em;
  font-weight:300;
}
}


