<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search Songs by Holiday</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card>
<ion-grid nowrap class="forecast_container"> 
    <ion-row *ngFor="let row of grid; let i = index" >
      <ion-col *ngFor="let file_uri of row">
          <ion-avatar (click)="holidaymodal(file_uri.holiday, file_uri.avatarUrl)" ><img src="{{ file_uri.avatarUrl }}"></ion-avatar>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

</ion-content>
