<ion-header>
    <ion-navbar>
      <button ion-button (click)="dismiss()">
        <ion-icon name="return-left" style="font-size: 200%;"></ion-icon>
      </button>      
    </ion-navbar>
  </ion-header>

<ion-content padding class="sample-modal-page">
        <div class="center"> 
         <h1><strong>  <img src="{{ icon }}" style="max-height: 20%; max-width: 20%;"> {{passedin}}  </strong></h1>
         <br>
         <!-- <ion-avatar >
           
          </ion-avatar>   -->
        </div >
        <br>
      
        <ion-list>
                <audio-track #audio *ngFor="let track of filteredtracks"  [track]="track" (onFinish)="onTrackFinished($event)">
                  <ion-item>  
                    <ion-thumbnail item-left>
                      <img src="{{audio.art}}">
                      <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
                    </ion-thumbnail>
                       <ion-thumbnail item-right>
                          <a *ngIf="track.purchased"  (click)="sendmodal(track)">
                            <img src="https://cdn4.iconfinder.com/data/icons/ios-web-user-interface-multicolor-vol-4/512/Calendar_schedule_send_date_share_share_date-128.png">
                          </a>
                    </ion-thumbnail >
                       <ion-thumbnail item-right>
                          <a  *ngIf="!track.purchased"  (click)="purchase(track)">
                            <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/credit_card-128.png">              
                          </a>
                         
                    </ion-thumbnail>
                    
                    <div item-content style="width:100%">
                      <p><strong>{{audio.title}}</strong> ⚬  <a  *ngIf="!track.purchased"  (click)="gotoArtist([track])"><em>{{audio.artist}}</em></a></p>
                      <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
                    </div>
                  </ion-item>    
                </audio-track>
              </ion-list>
      
        
      </ion-content>