
<ion-content padding class="sample-modal-page">
  <div class="center" text-centered> 
   <h1 class="center" text-centered> <strong>Would you like to simulate purchase of:</strong> </h1> 
   <h1 class="center" text-centered><strong>  {{passedin.title}}  </strong></h1>
   <br>
 
   
  </div >
  <br>



  <div class="center" text-center>
        <ion-buttons start>
    <button ion-button round outline color="secondary"  (click)="dismiss()">
      No 
    </button>
      <button ion-button round outline strong (click)="save()">
      Yes
    </button>
        </ion-buttons>
  </div >
  
</ion-content>