
<ion-content padding class="sample-modal-page">
  <div class="center"> 
   <h1> <strong>Schedule Delivery of:</strong> </h1> 
   <h1><strong>  {{passedin.title}}  </strong></h1>
   <br>
 
   
  </div >
  <br>

 <ion-item text-center>
  <ion-label>Send Date and Time</ion-label>
  <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="myDate"></ion-datetime>
</ion-item>

<br>

  <div class="center">
<ion-item text-center>
  <ion-label text-center color="primary" stacked>Send To:</ion-label>
        <ion-input text-center type="tel" placeholder="5555555555" [(ngModel)]="contact" *ngIf="ct == 1"></ion-input>
        <ion-input text-center type="email" placeholder="someone@somewhere.com" [(ngModel)]="contact" *ngIf="ct == 2"></ion-input>
</ion-item>
 <br>
       <div class="center">
        <ion-item text-center>
        <ion-select [(ngModel)]="ct" text-center>
          <ion-option value="1" text-center>sms</ion-option>
          <ion-option value="2" text-center>email</ion-option>
        </ion-select>
        </ion-item>
      </div>
</div>
<br>
<br>
<br>
<br>

  <div class="center" text-center>
        <ion-buttons start>
    <button ion-button round outline color="secondary"  (click)="dismiss()">
      Cancel
    </button>
      <button ion-button round outline strong (click)="save()">
      Schedule
    </button>
        </ion-buttons>
  </div >
  
</ion-content>