<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>E-Luv</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    
  </ion-content>

  <ion-footer>
      <ion-toolbar text-centered>
       Powered by VividCoding LLC @2018
      </ion-toolbar>
    </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
