<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Ken Washington </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
  
      your image here
      <img src="/assets/img/E-LuvBackground2.png" alt="">
  
   
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="bio">
        Bio
      </ion-segment-button>
      <ion-segment-button value="content">
        Music
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pet">
    <ion-item *ngSwitchCase="'bio'">
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>      
    </ion-item>
  
    <ion-list *ngSwitchCase="'content'">
      <ion-item>
        <h2>Music</h2><br>
        <ion-list>
          <audio-track #audio *ngFor="let track of filteredtracks"  [track]="track" (onFinish)="onTrackFinished($event)">
            <ion-item>  
              <ion-thumbnail item-left>
                <img src="{{audio.art}}">
                <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
              </ion-thumbnail>
                 <ion-thumbnail item-right>
                    <a *ngIf="track.purchased"  (click)="sendmodal(track)">
                      <img src="https://cdn4.iconfinder.com/data/icons/ios-web-user-interface-multicolor-vol-4/512/Calendar_schedule_send_date_share_share_date-128.png">
                    </a>
              </ion-thumbnail >
               
              <div item-content style="width:100%">
                <p><strong>{{audio.title}}</strong> ⚬ <em>{{audio.artist}}</em></p>
                <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
              </div>
            </ion-item>    
          </audio-track>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>

  
 
   
  </ion-content>
  