<div id="bg">
<img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/109988670/views/1,width=800,height=800,appearanceId=1,version=1452254899/music-heart-note-i-love-classic-choir-star-clef-t-shirts-men-s-t-shirt-by-american-apparel.jpg"  alt="">
</div>

<h1>Welcome to E-LUV music delivery service</h1>

<div>

<h2>--insert user-- has sent you a special song for --holiday-- to listen to:</h2>


<div style=" margin-left: auto ;  margin-right: auto ;">

        <table style=" margin-left: auto ;  margin-right: auto ;">
         <tr>
                 <td>
                          <strong>Artist:</strong>
                 </td>
                 <td>
                          {{artist}} 
                 </td>
         </tr>       
          <tr>
                 <td>
                        <strong> Title: </strong>
                 </td>
                 <td>
                         {{title}} 
                 </td>
         </tr>       
          <tr>
                 <td>
                        <strong>Purchase Link:  </strong>
                 </td>
                 <td>
                         --insert purchase link --
                 </td>
         </tr>       
         </table>

      
       
</div>


<div id="aPlayer" style=" margin-left: auto ;  margin-right: auto ;"> 
  <button style="padding:4px 16px;" id="Left" (click)="play()" >Play</button>
    <button style="padding:4px 16px;" id="Center" (click)="pause()">Pause</button>
    <button style="padding:4px 16px;" id="Right" (click)="stop()">Stop</button>

</div>

<!--<button (click)="download()">
   <a href="{{record}}" download> Download {{fname}} </a>
        </button>      -->
            
</div>

