
h1 {
  color: #cc0000;
}

#bg {

  position: fixed; 

  top: -50%; 

  left: -50%; 

  width: 200%; 

  height: 200%;

  opacity: 0.35;

  z-index: -10000;
}

#bg img {

  position: absolute; 

  top: 0; 

  left: 0; 

  right: 0; 

  bottom: 0; 

  margin: auto; 
    
  width: 800px; 

  height: 800px;

  opacity: 0.35;
  /*min-width: 50%;*/

  min-height: 50%;

}

 #aPlayer > audio { width: 100% } 
        /* Chrome 29+ */ 
@media screen and (-webkit-min-device-pixel-ratio:0) 
  and (min-resolution:.001dpcm) { 
       /* HIDE DOWNLOAD AUDIO BUTTON */ 
     #aPlayer { 
           overflow: hidden;width: 390px;  
        } 
 
    #aPlayer > audio { width: 420px; } 
} 
 
/* Chrome 22-28 */ 
@media screen and(-webkit-min-device-pixel-ratio:0) { 
     
      #aPlayer { 
           overflow: hidden;width: 390px;  
        } 
 
    #aPlayer > audio { width: 420px; } 
}