


<ion-content padding id="welcome">

<img src="/assets/img/E-LuvBackground2.png" class="logo"/>
<h1> Welcome to E-Luv </h1>
<div>Send the love of Music to Loved Ones</div>

<button ion-button block class="marginTop" (click)="signup()">Signup</button>
<button ion-button block color="lightprimary" (click)="login()">Login</button>
<img src="/assets/img/welcome_illustration.png" alt="">
</ion-content>
