<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title text-centered>Account </ion-title>
        </ion-navbar>
      </ion-header>

<ion-content>
     
    <ion-card>

        <ion-item text-centered>
                <ion-icon name="home" size="large" style="float: left;" (click)="goHome()"></ion-icon>
                <ion-icon name="create" size="large" style="float: right;" (click)="editMode(!mode)"></ion-icon>
                <ion-avatar (click)="updateAvatar()" style="margin: auto; width: 50%; padding: 10px;"><img src="{{ newuser.profilepic }}" style="width: 150px;
                    height: 150px;" ></ion-avatar>  
               


        </ion-item>
        </ion-card>
        <ion-card>
        <ion-item>
            <ion-label color="primary" style="float: left;">Full Name </ion-label>

            <ion-input type="text" value="" [(ngModel)]="newuser.fullname" name="fullname" required style="float: right;"></ion-input>         
            
        </ion-item>

        <ion-item>
                <ion-label color="primary" style="float: left;">Email </ion-label>

                <ion-input type="text" value="" [(ngModel)]="newuser.email" name="address" required style="float: right;"></ion-input>                   
          </ion-item>
          
          <ion-item>
                <ion-label color="primary" style="float: left;">Subscription Level </ion-label>

                <ion-input type="text" value="" [(ngModel)]="subscriptionLevel" name="address" required style="float: right;"></ion-input>                   
          </ion-item>

    </ion-card>
</ion-content>