<ion-header text-centered>
  <ion-navbar text-centered>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title text-centered>Welcome to E-Luv </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding menuToggle>

    <img src="/assets/img/E-LuvBackground2.png" alt="">

<br>
<br>
<br>


<img src="/assets/img/welcome_illustration.png" alt="" style="height: 40%; float: bottom;" >
 
 <!-- <div text-centered> 
    
    <button ion-button color="primary" > Open Menu </button>
 
 </div> -->
</ion-content>
